## Data Analysis with Pandas

In [1]:
import pandas as pd
import numpy as np

In [2]:
df1 = pd.read_csv('./assets/station.csv')
df2 = pd.read_csv('./assets/trip.csv',warn_bad_lines=False ,error_bad_lines=False)
df3 = pd.read_csv('./assets/weather.csv')

## What is the average trip duration for a borrowed bicycle?

In [3]:
df2['tripduration'].mean()

1178.2956753399776

## What’s the most common age of a bicycle-sharer?

In [4]:
age = 2021 - df2['birthyear'].mode()[0]
int(age)

34

## Given all the weather data here, find the average precipitation per month, and the median precipitation.

In [12]:
month = df3['Precipitation_In']
avg=month.mean()
avg

0.10506531204644412

## What’s the average number of bikes at a given bike station?

In [14]:
df1.mean().install_dockcount

17.586206896551722

## When a bike station is modified, is it more likely that it’ll lose bikes or gain bikes? How do you know?

In [19]:
modify = df1[['modification_date','install_dockcount','current_dockcount']].dropna()
modify

   modification_date  install_dockcount  current_dockcount
7          11/9/2015                 20                 18
10          8/9/2016                 16                  0
12         2/24/2015                 18                 20
17         2/24/2015                 28                 26
22         3/24/2015                 30                 24
23         3/27/2015                 12                 16
26         3/18/2016                 16                  0
31         2/24/2015                 18                 20
35         3/13/2015                 12                 20
37         2/23/2015                 18                 16
38         11/2/2015                 20                  0
39          3/4/2015                 12                 16
46        10/29/2015                 16                  0
47         2/20/2015                 12                 14
48         2/20/2015                 18                 16
49         2/20/2015                 12                 14
50         2/20/2015                 20                 14

In [20]:
sum_current = modify['current_dockcount'].sum()
sum_install = modify['install_dockcount'].sum()
sum_current-sum_install

-64

#### its lose 64$